@model Online_Exam_Portal.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>


    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        .shape {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }

        .sh1 {
            max-width: 100%;
            width: 75vw;
            z-index: -1;
        }

        .sh2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            width: 55vw;

        }

        .form-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
  
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 400px;
            max-height : 500px;
            background-color: #fff;
            padding: 20px;
            position: relative;
        }

        .title {
            font-size: 28px;
            color: royalblue;
            font-weight: 600;
            letter-spacing: -1px;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 30px;
        }

            .title::before, .title::after {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 50%;
                left: 0px;
                background-color: royalblue;
            }

            .title::before {
                width: 18px;
                height: 18px;
                background-color: royalblue;
            }

            .title::after {
                width: 18px;
                height: 18px;
                animation: pulse 1s linear infinite;
            }

        .message, .signin {
            color: rgba(88, 87, 87, 0.822);
            font-size: 14px;
            position : relative;
            bottom: 20px;
        }

        .signin {
            text-align: center;
        }

            .signin a {
                color: royalblue;
            }

                .signin a:hover {
                    text-decoration: underline royalblue;
                }

        .flex {
            display: flex;
            position: relative;
            right: 10px; 
            width: 100%;
            gap: 25px;

        }

        .box {
            position: relative;
            right: 10px;
        }
        .form label {
            position: relative;
            
        }

            .form label .input {
                width: 100%;
                padding: 10px 10px 20px 10px;
                outline: 0;
                border: 1px solid rgba(105, 105, 105, 0.397);
                border-radius: 10px;
            }

                .form label .input + span {
                    position: absolute;
                    left: 10px;
                    top: 15px;
                    color: grey;
                    font-size: 0.9em;
                    cursor: text;
                    transition: 0.3s ease;
                }

                .form label .input:placeholder-shown + span {
                    top: 15px;
                    font-size: 0.9em;
                }

                .form label .input:focus + span, .form label .input:valid + span {
                    top: 30px;
                    font-size: 0.7em;
                    font-weight: 600;
                }

                .form label .input:valid + span {
                    color: green;
                }

        .submit {
            border: none;
            outline: none;
            background-color: royalblue;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
        }

            .submit:hover {
                background-color: rgb(56, 90, 194);
            }

        .msg {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="shape">
        <img class="sh1" src="~/Images/Log_shape.png" alt="shape">
        <img class="sh2" src="~/Images/inside_shape.svg" alt="shape">
        <div class="form-container">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
            {
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                <div class="flex" >
                    <label>
                        @Html.TextBoxFor(e => e.full_name, new { @class = "input", placeholder = "", required = "" })
                        <span>Full Name</span>
                    </label>

                    <label>

                        @Html.TextBoxFor(e => e.username, new { @class = "input", placeholder = "", required = "" })

                        <span>User Name</span>
                    </label>
                </div>

                <div class="flex">
                    <label>
                        @Html.TextBoxFor(e => e.birth_date, new { @class = "input", placeholder = "", required = "", type = "date" })

                    </label>

                    <label>

                        @Html.TextBoxFor(e => e.city, new { @class = "input", placeholder = "", required = "" })

                        <span>City</span>
                    </label>
                </div>
           
                <label class="box">

                    @Html.TextBoxFor(e => e.email_address, new { @class = "input", placeholder = "", required = "" })

                    <span>Email</span>
                </label>

                <label class="box">

                    @Html.TextBoxFor(e => e.mobile_number, new { @class = "input", placeholder = "", required = "" })
                    <span>Mobile Number</span>
                </label>

                <label class="box">

                    @Html.PasswordFor(e => e.password, new { @class = "input", placeholder = "", required = "" })

                    <span>Password</span>
                </label>

                <button class="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="Login/Stud">Signin</a> </p>

                <div class="msg">
                    <h5>@ViewBag.msg</h5>
                </div>
            }


        </div>

</body>
</html>
